.repos {
  padding: 3rem;
  margin-top: 1.4rem;

  @media screen and (max-width: 768px) {
    padding: 1rem;
  }

  &__list {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 1rem;
    margin-top: 1.6rem;

    @media (max-width: 768px) {
      grid-template-columns: 100%;
    }

    &-item {
      border-radius: 10px;
      background-color: var(--secondary-color);
      box-shadow: var(--box-shadow);
      padding: 1rem;
      cursor: pointer;
      border: 1px solid transparent;
      transition: all 0.3s ease-in-out;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .dets {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 768px) {
          flex-direction: column;
          align-items: flex-start;
          padding: 0;
        }
      }

      h2 {
        font-size: 1.4rem;

        @media (max-width: 768px) {
          font-size: 1.3rem;
        }

        small {
          opacity: 0.3;
          font-size: 1rem;
        }
      }

      p {
        small {
          opacity: 0.3;
        }
      }

      &:hover {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7);
        border-left: 1px solid var(--accent-color);
      }
    }

    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      p {
        display: flex;
        align-items: center;
        justify-content: space-between;
        opacity: 0.4;
      }
    }
  }

  &__pagination {
    margin: 2rem 0;
    text-align: center;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;

      > * {
        margin-bottom: 1rem;
      }
    }
  }

  label {
    font-size: 1.2rem;
    color: var(--accent-color);
    margin-right: 5px;

    @media (max-width: 768px) {
      font-size: 1rem;
    }
  }

  &__sort {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;

    &-sort {
      margin-right: 1rem;
    }
  }
}

.button {
  padding: 0.4rem 1rem;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  color: var(--text-color);
  font-weight: bold;
  cursor: pointer;
  margin: 1px;
  transition: all 0.5s ease;
  background-color: var(--secondary-color);

  &:hover {
    background-color: var(--accent-color);
    color: var(--primary-color);
  }

  &.active {
    background-color: var(--accent-color);
  }
}

.prev,
.next {
  padding: 0.4rem 1rem;
  border-radius: 5px;
  border: none;
  margin: 1px;
  color: var(--primary-color);
}

select {
  padding: 0.2rem 0.7rem;
  border-radius: 5px;
  background-color: var(--secondary-color);
  border: none;
  margin: 1px;
  color: var(--text-color);
}
