.nav {
  display: flex;
  width: 100%;
  padding: 0 1rem;
  height: 4rem;
  margin: 0;
  background-color: var(--secondary-color);
  box-shadow: var(--box-shadow);

  @media screen and (max-width: 768px) {
    padding: 1rem;
  }

  &__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    &-link {
      font-weight: bold;
      text-decoration: none;
      color: var(--accent-color);
      font-size: 1.1rem;
      letter-spacing: 1px;
      transition: all 0.3s ease-in-out;
      border: 1px solid transparent;
      margin-right: 1rem;
      background: none;
      &:hover {
        border-bottom: 1px solid var(--accent-color);
      }
    }
  }
}
