* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: #ededed;
  --dark-bg: #001312;
  --text-color: #032304;
  --accent-color: #006c68;
}

body {
  background-color: var(--dark-bg);
  color: var(--bg-color);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

img {
  width: 100%;
}
.btn {
  text-decoration: none;
  background-color: var(--accent-color);
  color: var(--bg-color);
  font-weight: bold;
  padding: 0.6rem 1.3rem;
  border-radius: 10px;
  display: inline-block;
  margin: 1rem 0;
  border: 1px solid;
  transition: all 0.5s ease-out;
}
.btn:hover {
  border: 1px solid var(--accent-color);
  background: none;
  color: var(--accent-color);
}
button,
a {
  cursor: pointer;
}
