.details {
  height: calc(100vh - 4rem);
  max-width: 1440px;
  margin: auto;

  &__body {
    transition: 0.6s ease;
    display: grid;
    grid-template-columns: 21% 70%;
    grid-gap: 3%;
    padding: 2rem;

    @media screen and (max-width: 768px) {
      padding: 1rem;
      grid-template-columns: 5% 92%;

      aside {
        > * {
          display: none;
          opacity: 0;
        }
      }
    }
    &-back {
      padding: 1rem;
      // margin-top: 0.6rem;
    }
    &.show-sidebar {
      grid-template-columns: 90% 5%;

      .details__body-main {
        > * {
          display: none;
          opacity: 0;
        }
      }

      aside {
        > * {
          display: initial;
          opacity: 1;
        }
      }
    }

    aside {
      padding: 1rem;
      border-radius: 5px;
      background-color: var(--secondary-color);
      box-shadow: var(--box-shadow);
      display: flex;
      opacity: 1;
      flex-direction: column;

      img {
        width: 6rem;
        border: 1px solid var(--primary-color);
        border-radius: 50%;
      }
    }

    &-main {
      padding: 1rem;
      box-shadow: inherit;
      border-radius: 5px;
      background-color: var(--secondary-color);
      box-shadow: var(--box-shadow);
    }

    &-owner {
      margin-top: 1rem;

      h4 {
        margin-top: 0.3rem;
        opacity: 0.4;
      }

      .link {
        margin-top: 1.4rem;
        display: flex;
        opacity: 0.4;
        flex-direction: column;

        a {
          align-items: center;
          justify-content: center;
          margin: 0.3rem 0;
          transition: 0.7s ease;

          &:hover {
            opacity: 1;
            color: var(--accent-color);
            text-decoration: underline;
          }
        }
      }
    }

    &-toggle {
      background: none;
      border: none;
      margin: 0.8rem 0 0 2rem;
      display: none;

      @media screen and (max-width: 768px) {
        margin: 0.8rem 0 0 1rem;
        display: flex;
      }

      > * {
        font-size: 1.5rem;
      }
    }
  }
}

// .slide_btn {
//   margin: 0.6rem 0;
//   text-align: center;
//   color: var(--accent-color);

//   // @media screen and (min-width: 768px) {
//   //   display: none;
//   // }

//   span {
//     height: 3px;
//     width: 3px;
//     cursor: pointer;
//   }
// }

.topic {
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  box-shadow: var(--box-shadow-sm);
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-size: 0.8rem;
  margin: 5px 5px 5px 0;
}
